<% for(var i=0;i<index.length; i++) { %>
    <tr>
        <td>
            <%=i+1 %>
        </td>
        <td>
            <%=index[i].name%>
        </td>
        <td>
            <%=index[i].email%>
        </td>
        <td>
            <%=index[i].gender%>
        </td>
        <td>
            <%=index[i].status%>
        </td>
        <td>
            <a href="/update-user" class="btn-uptade btn">
                <span class="gradient"><i class="fas fa-pencil alt"></i></span>
            </a>
            <a class="btn-delete btn" id="delete" data-id="<%=index[i].id%>">
                <span class="gradient" style="cursor: pointer;"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% }%>